@import "reseter.css";

@font-face {
    font-family: Cuprum;
    src: url(../fonts/cuprum-font/Cuprum-Regular.ttf);
}

@font-face {
    font-family: CuprumBold;
    src: url(../fonts/cuprum-font/Cuprum-Bold.ttf);
}

body {
    /* Location of the image */
    background-image: url(../images/background.jpg);

    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when
       the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;


    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;
}

div#wrapper {
    margin: 3% auto;
    width: 80%;
}

#logo-image {
    width: 436px;
    margin: 0 auto;
    max-width: 100%;
}

#logo {
    opacity: 0.8;
}

#logo:hover{
    opacity: 1;
}

nav {
    height: 40px;
    width: 100%;
    font-family: Cuprum;
    position: relative;
    background-color: #333333;
    margin-top: 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    box-shadow: 3px 1px 13px 3px black;
}

nav ul {
    padding: 0;
    margin: 0 auto;
    height: 40px;
    width: 100%;
    position: relative;
    display: inline-table;
}

nav li {
    display: inline;
    float: left;
    width: 24.625%;
}


nav a {
    color: #AEAEAE;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
}

nav li a {
    border-right: 1px solid #404040;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
nav li:last-child a {
    border-right: 0;
}

nav a#pull {
    display: none;
}


nav ul ul {
    display: none;
}

nav ul li:hover > ul {
   display: block;
}

nav ul:after {
    content: ""; clear: both; display: block;
}


nav ul ul li {
    float: none;
    position: relative;
}

nav ul ul li a {
    background-image: url("../images/header-bg-middle.png");
}

main {
    border: 1px solid #242424;
    margin-top: 20px;
    background-color: #393939;
    height: 100%;
    font-family: Verdana;
    color: #AEAEAE;
    box-shadow: 3px 1px 13px 3px black;
}

article {
    width: 40%;
    display: inline-block;
    font-size: 0.9em;
    margin-top: 30px;
    margin-bottom: 100px;
    vertical-align: top;
}

article#news {
    margin-left: 20px;
    margin-right: 169px;
    margin-top: 30px;
}

article header {
    margin-bottom: 20px;
}

article#info header {
    text-align: right;
}

p {
    margin-bottom: 15px;
}

a:hover {
    color: rgb(212, 72, 39);
    font-family: CuprumBold;
}
#news {
    margin-left: 120px;
    margin-top: 10px;
}

#main-footer {
    background-color: #2A2A2A;
    border-top: 1px solid #2d2d2d;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 3px 3px 13px 3px black;
    display: flex;
    justify-content: space-between;
}

#footer-copy{
    margin: 10px 0 10px 10px;
}

#footer-team {
    margin: 10px 10px 0 10px;
}

div#designed {
    width: 98px;
    margin: 0 auto;
    margin-top: 10px;
}

div#footer-html, div#footer-css {
    margin-top: 7px;
}

.centered {
    text-align: center;
}

/*MEDIA*/

@media all and (max-width: 1250px){
    article{
        width: 93%;
    }
    article#news{
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 30px;
        text-align: justify;
    }
    article#info{
        margin-right: 5%;
        margin-left: 5%;
        text-align: justify;
    }
}

@media all and (max-width: 740px) {
    #main-footer{
        flex-flow: column wrap;
        justify-content: center;
        padding-left: 30%;
    }

    #footer-html, #footer-css {
        margin-left: 50px;
    }

}

@media all and (max-width: 600px) {
    nav {
        height: auto;
    }
    nav ul {
        width: 100%;
        display: block;
        height: auto;
    }
    nav li {
        width: 50%;
        float: left;
        position: relative;
    }
    nav li a {
        text-align: center;
        border-bottom: 1px solid #404040;
        border-right: 1px solid #404040;
    }

    nav ul ul li a{
        background-image: none;
        background-color: #404040;
        border-bottom: 1px solid #333333;
    }
    nav ul ul {
        border-top: 1px solid #b5b5b5;
        border-bottom: 1px solid #b5b5b5;
    }
}

@media all and (max-width: 520px){
    #logo-image{
        max-width: 100%;
    }
    #logo{
        width: 100%;
    }
    #main-footer{
        flex-flow: column wrap;
        justify-content: center;
        padding-left: 0;
    }
    #footer-copy{
        margin-left: 120px;
        margin-bottom: 5px;
    }
    #footer-team{
        margin-left: 108px;
        margin-top: 5px;
    }

    #footer-html, #footer-css {
        margin-left: 160px;
    }
}

@media all and (max-width : 480px) {
    nav {
        border-bottom: 0;
    }
    nav li {
        display: block;
        float: none;
        width: 100%;
    }
    nav li a {
        border-bottom: 1px solid #404040;
        text-align: center;

    }
    #wrapper > header > nav > ul > li > ul > li > a{
             font-style: italic;
             font-size: 0.8em;

                                                     }
nav ul ul li a{
        background-image: none;
        background-color: #404040;
        border-bottom: 1px solid #333333;
    }
    nav ul ul {
        border-top: 1px solid #b5b5b5;
        border-bottom: 1px solid #b5b5b5;
    }

    #footer-team, #footer-copy{
        margin-left: 70px;
    }
    #footer-html, #footer-css {
        margin-left: 110px;
    }
}

@media all and (max-width: 370px){
    #footer-team, #footer-copy{
        margin-left: 40px;

    }

    #footer-html, #footer-css {
        margin-left: 80px;
    }
}